
.App {
  width: 15%;
  margin: auto;
  text-align: center;
}

input {
	margin-bottom:20px;
	margin-top: 50px;
	text-align: center;
}

input[type=text] {
  border: 1px solid; 
  padding: 0.5em 0.5em;
  font-size: 1em;
  border-radius: 30px;
}

.weather {
	color: blue;
	display: flex;
	flex-direction: column;
}

.weather > div {
	padding: 10px;
}